body {
  background: #dbe7c9;
  font-family: "Ubuntu Sans", sans-serif;
}

h1 {
  margin: 50px;
  color: #294b29;
}

a {
  color: #50623a;
}

footer {
  font-size: 14px;
  margin: 30px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
